<footer class="site-footer">


    <div class="footer-col-wrapper">

      <div class="wrapper">
        <ul class="social-media-list">

          <li>
            Instagram - <a href="http://www.instagram.com/victorathletics">@victorathletics</a>&nbsp;&nbsp;&nbsp;#fortimespent
          </li>

          <li>
            Twitter - <a href="http://www.twitter.com/wear_victor">@wear_victor</a>&nbsp;&nbsp;&nbsp;#fortimespent
          </li>

          <li>
            Facebook - <a href="http://www.facebook.com/victorathletics">VictorAthletics</a>
          </li>

          <li>
            Tumblr - <a href="http://victorathletics.tumblr.com">VictorAthletics</a>
          </li>

        </ul>
      </div>

    </div>

</footer>
